body{
    background-color: wheat;
    .container{
        width: 80%;
        height: 300px;
        margin: auto;
        #anime{
            width: 100%;
            display: block;
            position: relative;
            img{
                display: block;
                height: 256px;
               cursor: pointer;
               margin-left:auto;
               margin-right:auto;
               padding-top:25%;
            }
            #tear {
                width: 20px;
                height: 20px;
                border-radius: 0 50% 50% 50%;
                border: .5px solid black;
                transform: rotate(45deg);
                position: absolute;
                top: 37%;
                left: 42%;
                background-color: #850606;
                visibility: hidden;  
            } 
            #box{
                visibility: hidden;
                height: 350px;
                width: 250px;
                position: absolute;
                top:40%;
                left:25%;
                svg{
                    height: 120px;
                    width: 120px;
                    position: relative;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%, -50%);
                    circle{
                        fill: transparent;
                        stroke: green;
                        stroke-width: 10;
                        stroke-linecap: round;
                        stroke-dasharray: 500;
                        stroke-dashoffset: 500;
                        animation-name: animate ;
                        animation-duration: 8s;
                        animation-delay: 1s;
                        animation-fill-mode: forwards;
                        @keyframes animate {
                            100%{
                              stroke-dashoffset: 0;
                            }
                        }
                    }
                }
                .counter{
                    position: absolute;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%, -50%);
                    font-size: 20px;
                    font-weight: 800;
                }
            }
        }
    }
}